<header>
<<<<<<< HEAD
  <h1 class="text-2xl font-semibold text-gray-600">My Todo-list</h1>
=======
  <h2 class="text-3xl font-bold text-blue-600">My Todo-list</h2>
>>>>>>> 96f22c1 (Final TODO Manager App)
</header>
